body{
    display: flex; /* Usa Flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100vh; /* 100% de alto de la ventana */
    margin: 0; /* Sin margen */
    background: #f0fff0; /* Color de fondo verde claro */
}

/* Contenedor del piano */
.piano{
    position: relative; /* Permite posicionar las teclas negras */
    display: flex; /* Coloca las teclas blancas en fila*/
}

/* Estilo de las teclas blancas */
.white{
    width: 60px; /* Ancho de cada tecla blanca */
    height: 150px; /* Alto de cada tecla blanca */
    border: 1px solid #ccc; /* Borde gris */
    background: white; /* Fondo blanco */
}

/* Estilo de las tclas negras */
.black{
    width: 40px; /* Ancho de la tecla negra */
    height: 90px; /* Alto de la tecla negra */
    background: black; /* Color negro */
    position: absolute; /* Posicion absoluta para superponer */
    z-index: 2; /* Se muestra encima de las blancas */
}

/* Posicion de la tecla negra izquierda */
.b1 { left: 40px; } /* Se ubica sobre la primera y segunda */
/* Posicion de la tecla negra derecha */
.b2 { left: 100px; } /* Se ubica sobre la segunda y tercera */